<h2 mat-dialog-title>列の置換</h2>
<mat-dialog-content>
  <p>置換対象の列を選択してください</p>
  <mat-form-field>
    <mat-label>列名</mat-label>
    <mat-select [(ngModel)]="selectedColumn">
      @for (column of headerKeys; track column) {
      <mat-option [value]="column">
        {{ column }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (selectedColumn() !== null) {
  <p>置換対象の値を選択してください</p>
  <mat-form-field>
    <mat-label>値</mat-label>
    <mat-select [(ngModel)]="selectedTarget">
      @for (value of targetValueOptions(); track value) {
      <mat-option [value]="value">
        {{ value }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <p>置換後の値を入力してください</p>
  <mat-form-field>
    <mat-label>値</mat-label>
    <input matInput [(ngModel)]="replaceValue" />
  </mat-form-field>
  <p>列を新しく追加するか、既存の列を置換するか選択してください</p>

  <mat-radio-group [(ngModel)]="replaceType">
    <mat-radio-button value="add"> 新しく追加 </mat-radio-button>
    <mat-radio-button value="replace"> 既存の列を置換 </mat-radio-button>
  </mat-radio-group>

  @if (replaceType() === 'add') {
  <p>新しい列名を入力してください</p>
  <mat-form-field>
    <mat-label>列名</mat-label>
    <input matInput [(ngModel)]="newColumnName" />
  </mat-form-field>
  } }
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button matDialogClose>キャンセル</button>
  <button
    mat-button
    cdkFocusInitial
    (click)="submit()"
    [disabled]="disableSubmit()"
  >
    置換
  </button>
</mat-dialog-actions>
