<div class="container">
  <div class="actions">
    <input type="file" accept=".csv" (change)="onFileChange($event)" />
    <div style="display: flex; gap: 4px; align-items: flex-end">
      <button [disabled]="!rowSelected" (click)="deleteSelectedRows()">
        選択行を削除
      </button>
      <button (click)="addRow()" [disabled]="rowData.length === 0">
        行追加
      </button>
      <span style="display: flex; gap: 4px; align-items: flex-end">
        <label style="display: flex; flex-direction: column"
          >列名
          <input
            type="text"
            [(ngModel)]="newColumnName"
            [disabled]="rowData.length === 0"
          />
        </label>

        <button
          (click)="addColumn(newColumnName())"
          [disabled]="!newColumnName()"
        >
          列追加
        </button>
      </span>

      <button (click)="exportCsv()" [disabled]="rowData.length === 0">
        CSVエクスポート
      </button>
    </div>
  </div>

  <div class="content" style="width: 100%; height: 100%">
    <ag-grid-angular
      [class]="themeClass"
      style="min-height: 600px; height: 600px; min-width: 1000px"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      [localeText]="localText"
      (rowSelected)="onRowSelected($event)"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
