<div class="container">
  <div class="actions">
    <button mat-fab extended (click)="csvImport.click()">
      <mat-icon>add_circle</mat-icon>CSVファイルインポート
    </button>
    <input
      #csvImport
      style="display: none"
      type="file"
      accept=".csv"
      (change)="onFileChange($event)"
    />
    <div style="display: flex; gap: 8px; align-items: center">
      <button
        mat-icon-button
        color="warn"
        [disabled]="!rowSelected()"
        (click)="deleteSelectedRows()"
        matTooltip="選択行を削除"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        mat-icon-button
        [matMenuTriggerFor]="menu"
        [disabled]="rowData.length === 0"
        matTooltip="行または列を追加"
      >
        <mat-icon>playlist_add</mat-icon>
      </button>
      <button
        mat-icon-button
        [disabled]="rowData.length === 0"
        matTooltip="列の値を置換"
        (click)="openReplaceColumnValueDialog()"
      >
        <mat-icon>compare_arrows</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addRow()">行を追加</button>
        <button mat-menu-item (click)="openAddColumnDialog()">列を追加</button>
      </mat-menu>

      <button
        mat-fab
        extended
        color="primary"
        (click)="exportCsv()"
        [disabled]="rowData.length === 0"
      >
        <mat-icon>upload</mat-icon>
        CSVエクスポート
      </button>
    </div>
  </div>

  <p>
    総件数: {{ count() | number }}　表示中の件数: {{ displayCount() | number }}
  </p>

  <div class="content" style="width: 100%; height: 100%">
    <ag-grid-angular
      [class]="themeClass"
      style="min-height: 600px; height: 600px; min-width: 1000px"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      [localeText]="localText"
      [autoSizeStrategy]="autoSizeStrategy"
      (rowSelected)="onRowSelected($event)"
      (gridReady)="onGridReady($event)"
      (filterChanged)="onFilterChanged()"
    ></ag-grid-angular>
  </div>
</div>
