<div class="container">
  <div class="actions">
    <input type="file" accept=".csv" (change)="onFileChange($event)" />
    <div style="display: flex; gap: 4px">
      <button [disabled]="!rowSelected" (click)="deleteSelectedRows()">
        選択行を削除
      </button>
      <button (click)="exportCsv()" [disabled]="rowData.length === 0">
        CSVエクスポート
      </button>
    </div>
  </div>

  <div class="content" style="width: 100%; height: 100%">
    <ag-grid-angular
      [class]="themeClass"
      style="min-height: 600px; height: 600px; min-width: 1000px"
      [rowData]="rowData"
      [columnDefs]="colDefs"
      [defaultColDef]="defaultColDef"
      [rowSelection]="rowSelection"
      (rowSelected)="onRowSelected($event)"
      (gridReady)="onGridReady($event)"
    ></ag-grid-angular>
  </div>
</div>
